server:
  port: 8082

spring:
  application:
    name: aeris-search-config
  datasource:
    url: jdbc:postgresql://dpg-d48lc2mmcj7s73e1fes0-a.oregon-postgres.render.com/aeris_bd_prod_113m
    username: aeris_bd_prod_113m_user
    password: BcPWyS1I2frsRD84Pi1G4fX1YineBiCS
    driver-class-name: org.postgresql.Driver
  mail:
    host: smtp.gmail.com
    port: 587
    username: plataforma.aeris@gmail.com
    password: hblq fipk qtda nory
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
            required: true
          connectiontimeout: 20000
          timeout: 20000
          writetimeout: 20000
        debug: true


  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        jdbc:
          lob:
            non_contextual_creation: true

  h2:
    console:
      enabled: true
      path: /h2-console

springdoc:
  api-docs:
    enabled: true
    path: /v3/api-docs
  swagger-ui:
    enabled: true
    path: /swagger-ui.html

jwt:
  secret: NDA0RTYzNTI2NjU1NkE1ODZFMzI3MjM1NzUzODc4MkY0MTNGNDQyODQ3MkI0QjYyNTA2NDUzNjc1NjZCNTk3MA==
  expiration: 86400000